/* Aside left */
$asideLeftWidth: 200px;
$asideLeftBackground: #fcfcfc;
$asideLeftColor: black;
$asideLeftBorder: 1px solid #ededed;
$asideLeftMenuHoverBackground: #ededed;
$asideLeftMenuCountHoverColor: #cfcfcf;
$asideLeftMenuColor: #dfdfdf;